@import url('https://fonts.googleapis.com/css?family=Open+Sans');
   
   html, body{
     margin:0 0 0 0;
   }
   #matnav{
    font-family: 'Open Sans', sans-serif;
     background-color:#6D909C;
     height:10%;
     width:100%;
     display:flex;
     justify-content:center;
     align-content: center;
   }
   .navelem{
     font-size:70px;
     color:white;
   }
   #cardmain{
     float:right;
     width:75%;
     display:flex;
     justify-content: space-around;
     flex-flow: column;
     align-items: center;
   }
   #sidecontrol{
    display:flex;
    flex-flow:column;
    align-items: stretch;
    color:white;
    font-size:20px;
    background-color:#252C3F;
    width:25%;
    height:100%;
    float:left;
   }
   .sideelem{
    display:flex;
    align-items:center;
    background-color:#252C3F;
    height: 5%;
    width:100%;
    font-family: 'Open Sans', sans-serif;
    cursor:pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   }
   .sideelem:hover{
     color:#a9cea1;
     background-color:#1b202d;
   }
   #delete{
     color:white;
     margin-left:23px;
     align-self: flex-end;
     justify-self: center;
     position: absolute;
   }
   .todo{
     margin:0px;
     margin-left:50px;
     width:300px;
     font-size: 30px;
     position: absolute;
   }
   .card {
    border-right:30px #252C3F solid;
    display:flex;
    flex-wrap: none;
    flex-flow:column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-color:white;
    width:75%;
    height:15%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }